<?xml version="1.0"?>

<configuration>
  <location path="Add_entry.aspx">
    <system.web>
      <authorization>
        <allow roles="administrators, editors"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Blogroll.aspx">
    <system.web>
      <authorization>
        <allow roles="administrators, editors"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Categories.aspx">
    <system.web>
      <authorization>
        <allow roles="administrators, editors"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Controls.aspx">
    <system.web>
      <authorization>
        <allow roles="administrators"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pages.aspx">
    <system.web>
      <authorization>
        <allow roles="administrators, editors"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PingServices.aspx">
    <system.web>
      <authorization>
        <allow roles="administrators"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="referrers.aspx">
  <system.web>
    <authorization>
      <allow roles="administrators,editors"/>
      <deny users="*" />
    </authorization>
  </system.web>
  </location>
  <location path="Settings.aspx">
    <system.web>
      <authorization>
        <allow roles="administrators"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Profiles.aspx">
    <system.web>
      <authorization>
        <allow roles="administrators,editors"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Users.aspx">
    <system.web>
      <authorization>
        <allow roles="administrators"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration> 



