<?xml version="1.0"?>

<configuration>
    <location path="Default.aspx">
        <system.web>
            <authorization>
                <allow roles="administrators"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Spam.aspx">
        <system.web>
            <authorization>
                <allow roles="administrators"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Settings.aspx">
        <system.web>
            <authorization>
                <allow roles="administrators"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
</configuration>